# Python
__pycache__/
*.py[cod]
*.class

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI model weights
*.pt
*.onnx
*.weights
